/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 100vh;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#ff6e7f, #bfe9ff);
  height: 350px;
  width: 450px;
  border-radius: 12px;
  font-family: 'Roboto';
}

.heading {
  color: #0f172a;
  font-size: 35px;
  font-weight: 700;
}

.category-check {
  color: #334155;
  font-size: 24px;
}

.evenodd-button {
  color: #1e293b;
  background-color: #ffffff;
  border: none;
  border-radius: 12px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
}

.note {
  color: #334155;
  font-size: 12px;
}
